body {
}
#img1{
    width:39.3vh;
    position:relative;
    bottom:40px;
}
#h{
    display:inline-block;
}
#img2{
    width:38vh;
}
.div1{
    background-color:#f9690c;
  
    border-radius:50px;
}
#d1{
    position:relative;
    width:10vh;
    bottom:450px;
    left:300px;
    height:10vh;
}
#div2 {
    position: relative;
    width: 10vh;
    bottom: 530px;
    left: 350px;
    height: 10vh;
}
#div3 {
    position: relative;
    width: 10vh;
    bottom: 450px;
    left: 350px;
    height: 10vh;
}
#div4 {
    position: relative;
    width: 10vh;
    bottom: 450px;
    left: 300px;
    height: 10vh;
}